$font: Helvetica, sans-serif;
$input-padding: 10px;
// Colors
$dark-color: #101010;
$snow-color: #FFFAFA;
$white-color: #FFFFFF;
$red-color: #DC143C;
// Theme colors
$blue-color: #2E5077;
$teal-color: #4DA1A9;
$orange-color: #FFA630;
$green-color: #D6F8D6;

* {
  box-sizing: border-box;
}
::placeholder {
  color:$teal-color;
}
html, body, div, h1, ul {
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  color: $dark-color;
  background-color: $blue-color;
  height: 100%;
}
small {
  display: block;
  text-align: center;
}
li {
  list-style-type: none;
}
.lrg {
  font-size: 1.1em;
  font-weight: bold;
}
body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 800px) 1fr;
  .container {
    margin: 50px 0;
    padding: 50px 25px;
    background-color: $white-color;
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    clip-path: polygon(0% 0%, 100% 2%, 97% 96%, 3% 98%);
  }
}
header {
  .heading-clip-path {
    display: inline-block;
    padding: 15px;
    color: $white-color;
    background-color: $blue-color;
    text-decoration: underline;
    clip-path: polygon(0% 10%, 100% 5%, 97% 93%, 3% 98%);
  }
}
form {
  display: grid;
  justify-items: center;
  grid-row-gap: 20px;
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    align-items: center;
    justify-content: center;
    label {
      padding: $input-padding;
      padding-left: 0;
      text-align: right;
    }
    input {
      padding: $input-padding;
      &:focus  {
        outline-color: $orange-color;
      }
    }
    select {
      width: 120px;
      padding: $input-padding;
      outline-color: $orange-color;
      border-radius: 2px;
      &#dropdown {
        align-self: start;
        margin: 10px;
      }
    }
  }
  textarea {
    outline-color: $orange-color;
    padding: 5px;
  }
  button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
    border: none;
    color: $white-color;
    background-color: $orange-color;
    clip-path: polygon(0% 10%, 100% 5%, 97% 93%, 5% 92%);
    transition: transform 0.5s;
    &:hover {
      transform: translateY(5px);
    }
  }
}
// TRAFFIC SOURCE && PIZZA TOPPINGS
.selection-list {
  width: 100%;
  margin-top: 10px;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  justify-content: center;
  div {
    padding: $input-padding;
    padding-left: 0;
    text-align: right;
    grid-column: 1 / 2;
  }
  ul {
    padding: $input-padding 0;
    grid-column: 2 / 3;
    li {
      padding: 6px 0;
      transition: background-color 0.6s;
      &:first-child {
        padding-top: 0;
      }
      &:hover {
        background-color: $green-color;
      }
    }
  }
}
// RATE MY SITE
fieldset.rate-site {
  margin-top: 10px;
  padding: 14px 8px;
  border: 1px solid $teal-color;
  text-align: center;
  legend {
    max-width: 350px;
  }
  label {
    padding-right: 14px;
  }
}
// QUESTIONS COMMENTS
div.text-area {
  label {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin: 20px 0;
    padding: 10px 6px;
    text-align: center;
    color: $white-color;
    background-color: $blue-color;
  }
}
@media only screen and (max-width: 400px) {
  form {
    .row {
      width: auto;
      grid-template-columns: repeat(auto-fit, 250px);
      label {
        text-align: left;
      }
      select {
        width: auto;
        &#dropdown {
          margin: 0;
        }
      }
    }
  }
}
// FOOTER
footer {
  min-height: 200px;
  margin-top: 50px;
  padding: 20px 30px;
  color: $snow-color;
  background-color: $dark-color;
  grid-column: 1/4;
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  a {
    color: #FFFAFA;
    text-decoration: none;
    &:hover {
      color: $teal-color;
    }
  }
}
