$font: Helvetica, sans-serif;
$dark-color: #101010;
$blue-color: #2E5077;
$orange-color: #FFA630;
$snow-color: #FFFAFA;
$input-padding: 10px;

* {
  box-sizing: border-box;
}
html {
  font-family: $font;
  color: $dark-color;
  background-color: $blue-color;
  height: 100%;
}
html, body, div, h1 {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 600px) 1fr;
  .container {
    margin: 50px 0;
    padding: 25px;
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    clip-path: polygon(0% 0%, 100% 1%, 97% 95%, 3% 98%);
  }
}
header {
  .heading-clip-path {
    display: inline-block;
    padding: $input-padding;
    color: #FFFFFF;
    background-color: $orange-color;
    text-decoration: underline;
    clip-path: polygon(0% 10%, 100% 5%, 97% 93%, 3% 98%);
  }
}
form {
  display: grid;
  justify-items: center;
  grid-row-gap: 16px;
  .row {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    align-items: center;
    label {
      padding: $input-padding;
      text-align: right;
      line-height: 95%;
    }
    input {
      padding: $input-padding;
      &:focus  {
        outline-color: $orange-color;
      }
    }
    select {
      width: 120px;
      padding: $input-padding;
      outline-color: $orange-color;
      border-radius: 2px;
    }
  }
}
@media only screen and (max-width: 400px) {
  form {
    .row {
      width: auto;
      grid-template-columns: repeat(auto-fit, 250px);
      label {
        text-align: left;
      }
      select {
        width: auto;
      }
    }
  }
}
footer {
  min-height: 200px;
  margin-top: 50px;
  padding: 20px 30px;
  color: $snow-color;
  background-color: $dark-color;
  grid-column: 1/4;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
}
