$font: Helvetica, sans-serif;
$dark-color: #101010;
$snow-color: #FFFAFA;
$white-color: #FFFFFF;
// Theme colors
$blue-color: #2E5077;
$teal-color: #4DA1A9;
$orange-color: #FFA630;
$input-padding: 10px;

* {
  box-sizing: border-box;
}
html, body, div, h1, ul {
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  color: $dark-color;
  background-color: $blue-color;
  height: 100%;
}
li {
  list-style-type: none;
}
body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 700px) 1fr;
  .container {
    margin: 50px 0;
    padding: 50px 25px;
    background-color: $white-color;
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    clip-path: polygon(0% 0%, 100% 1%, 97% 96%, 3% 98%);
  }
}
header {
  .heading-clip-path {
    display: inline-block;
    padding: 15px;
    color: $white-color;
    background-color: $teal-color;
    text-decoration: underline;
    clip-path: polygon(0% 10%, 100% 5%, 97% 93%, 3% 98%);
  }
}
form {
  display: grid;
  justify-items: center;
  grid-row-gap: 16px;
  .row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    align-items: center;
    label {
      padding: $input-padding;
      text-align: right;
      line-height: 95%;
    }
    input {
      padding: $input-padding;
      &:focus  {
        outline-color: $orange-color;
      }
    }
    select {
      width: 120px;
      padding: $input-padding;
      outline-color: $orange-color;
      border-radius: 2px;
    }
  }
  textarea {
    outline-color: $orange-color;
  }
  button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    border: none;
    color: $white-color;
    background-color: $orange-color;
    clip-path: polygon(0% 10%, 100% 5%, 97% 93%, 3% 98%);
    transition: transform 1s;
    &:hover {
      transform: translateY(5px);
    }
  }
}
.traffic-source {
  width: 90%;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  div {
    text-align: right;
    padding: $input-padding;
    grid-column: 1 / 2;
  }
  ul {
    padding: $input-padding 0;
    grid-column: 2 / 3;
    li {
      padding: 4px 0;
    }
  }
}
@media only screen and (max-width: 400px) {
  form {
    .row {
      width: auto;
      grid-template-columns: repeat(auto-fit, 250px);
      label {
        text-align: left;
      }
      select {
        width: auto;
      }
    }
  }
}
footer {
  min-height: 200px;
  margin-top: 50px;
  padding: 20px 30px;
  color: $snow-color;
  background-color: $dark-color;
  grid-column: 1/4;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  a {
    color: #FFFAFA;
    text-decoration: none;
    &:hover {
      color: $teal-color;
    }
  }
}
